$primary-color: #F61067;
$secondary-color-100: rgb(94, 35, 157);
$secondary-color-300: #30124E;
$secondary-color-400: #150433;
$white-color: #FCFCFC;
$text-color-gray: #9B94A3;
$text-color-lightgray: #F4F4ED;
$text-color-header: #30233D;
$text-color-main: #776C82;
$tetriary-color: #00F0B5;
$orange-color: #F67110;