@import '../variables';

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 140px;
  animation: fadeIn 1s ease-out;

  p {
    color: $text-color-main;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__label {
    display: flex;
    margin-top: 50px;

    input {
      border: none;
      border-bottom: 3px solid $text-color-lightgray;
      padding: 15px 0;
      width: 100%;
      color: $text-color-gray;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: 207.9%;
      background-color: transparent;
      outline: none;

      &:focus {
        border-bottom: 3px solid $text-color-gray;
        box-shadow: none;
      }

      &::placeholder {
        color: $text-color-gray;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }

    button {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      font-size: 12.6px;
      font-style: normal;
      font-weight: 800;
      line-height: 207.9%;
      letter-spacing: 6px;
      text-transform: uppercase;
      color: $primary-color;
      border: none;
      background: linear-gradient(180deg, #FFFFFF, #F2F2F2);
      transition: all 0.3s ease;

      img {
        width: 25px;
      }

      &:hover {
        transform: translateX(-5px);
      }
    }
  }
}

@media (max-width: 768px) {
  .subscribe {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 80px;

    &__label {
      flex-direction: column;
      gap: 20px;

      input {
        font-size: 16px;
      }

      button {
        width: 100%;
        justify-content: center;
        font-size: 11px;
        align-items: center;
        background: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .subscribe {
    h2 {
      font-size: 25px;
    }
  }
}